
.home{
    background: url(../img/fond2.jpg) no-repeat bottom center;
    background-size: cover;
    position: relative;
}
.main_home{
    overflow: hidden;
    padding-top: 300px;
    padding-bottom: 230px;
    position: relative;
    z-index: 1;
}
.home_text h1{
    font-family: 'Raleway', sans-serif;
    font-size:4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}
